**/train/**
__pycache__
.ipynb_checkpoints
*.hdf5
**/data/**
.DS_Store
**/scratch/**
**/tilt_compile/**
tools/thresh/*
venv/

scripts/DoubleThresholdingTest.ipynb
scripts/GitTools.ipynb
scripts/double_threshold_test.py
