*.hdf5
*.swp
.DS_Store
__pycache__
.ipynb_checkpoints
.pylintrc
**/data/**
**/scratch/**
**/tilt_compile/**
tools/thresh/*
venv/
hdf5_dump
DnCNN-PyTorch-master

src.egg-info/

scripts/DoubleThresholdingTest.ipynb
scripts/GitTools.ipynb
scripts/double_threshold_test.py
scripts/PreAugmentTest.ipynb
scripts/run_analysis.py
scripts/FindAvgGrains.ipynb
src/grain_sequence_mask.py

src/utils/dilate_resize.py
